<!--offers-->
<div class="container-fluid">
    <div class="col-md-12">

        <div class="col-md-4">

        </div>
        <div class="col-md-4">

            <h3>CVs</h3>

            <!--No offers message-->
            <h5 ng-if="cvs.length < 1">
                <br>
                <br>
                NO SE ENCONTRARON CV's
            </h5>

            <table class="table">
                <thead>
                <tr>
                    <th>Fichero</th>
                    <th>Acciones</th>
                    <th><a ng-click="deleteCVs()" class="btn btn-danger" data-toggle="modal" data-target="#modalCourse">Eliminar Todo</a></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="a in cvs track by $index">
                    <td>
                        <span>{{a}}</span>
                    </td>
                    <td>
                        <a href="{{url}}cvs/{{a}}?auth={{auth}}" class="glyphicon glyphicon-eye-open" target="_blank"></a>
                        <span class="glyphicon glyphicon-remove" ng-click="deleteCV(a)"></span>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>