<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h4>¡Síguenos!</h4>
            <ul id="ulFooter">
                <li class="footer"><a href="https://es-es.facebook.com/CentroFID/" target="_blank"><img src="img/facebook.png" style="width:30px;height:30px;"></a></li>
                <li class="footer"><a href="https://www.linkedin.com/company/grupo-gallega-laboral-deza" target="_blank"><img src="img/linkedin.png" style="width:30px;height:30px;"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container text-center">
            <b>© 2017 Grupo Gallega Laboral Deza S.L.</b>
            <a class="text-right" href="#/legal" target="_blank"> Aviso Legal</a>
        </div>
    </div>
</div>