<div class="container">
    <div class="row">
        <div class="col l6 s12">
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">¡Síguenos!</h5>
            <ul>
                <li><a class="grey-text text-lighten-3" href="https://es-es.facebook.com/CentroFID/"><img src="img/facebook.png" style="width:30px;height:30px;"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        © 2017 Grupo Gallega Laboral Deza S.L.
        <a class="grey-text text-lighten-4 right" href="#!">Aviso Legal</a>
    </div>
</div>