<div class="container-fluid">
    <div class="row">
        <div class="text-center">
            <h5>¡Síguenos!</h5>
            <ul id="ulFooter">
                <li class="footer"><a href="https://es-es.facebook.com/CentroFID/"><img src="img/facebook.png" style="width:30px;height:30px;"></a></li>
                <li class="footer"><a href="https://es-es.facebook.com/CentroFID/"><img src="img/facebook.png" style="width:30px;height:30px;"></a></li>
                <li class="footer"><a href="https://es-es.facebook.com/CentroFID/"><img src="img/facebook.png" style="width:30px;height:30px;"></a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container text-center">
            <b>© 2017 Grupo Gallega Laboral Deza S.L.</b>
            <a class="text-right" href="#/legal"> Aviso Legal</a>
        </div>
    </div>
</div>