<div class="container-fluid">
    <h3>Aviso Legal</h3>
    <ol>
        <li>DATOS IDENTIFICATIVOS. En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio,
            de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan los siguientes datos:
            GRUPO GALLEGA LABORAL DEZA SL con CIF B94056561, domiciliada C/ CARBALLEIRA DO CHOUSIÑO N° 8 BAJO SILLEDA (PONTEVEDRA). (En adelante LA SOCIEDAD) </li>
        <li>USUARIOS: El acceso y/o uso de los Sites de LA SOCIEDAD atribuye la condición de USUARIO, que acepta, desde dicho acceso y/o uso, las Condiciones
            Generales de Uso aquí reflejadas. Las citadas condiciones serán de aplicación independientemente de las Condiciones Generales de Contratación que
            en su caso resulten de obligado cumplimiento. </li>
        <li>USO DEL SITE: el sitio Web de LA SOCIEDAD proporciona el acceso a multitud de informaciones, servicios, herramientas, programas o datos (en adelante,
            "los contenidos") en Internet pertenecientes a LA SOCIEDAD, y a los que el USUARIO puede tener acceso. El USUARIO asume la responsabilidad del uso del
            Site.</li>
        <li>PROTECCIÓN DE DATOS: LA SOCIEDAD cumple con las directrices de la Ley Orgánica 15/1999 de 13 de diciembre de Protección de Datos de Carácter Personal,
            el Real Decreto 1720/2007 de 21 de diciembre por el que se aprueba el Reglamento de desarrollo de la Ley Orgáica y demás normativa vigente en cada
            momento, y vela por garantizar un correcto uso y tratamiento de los datos personales del usuario. Para ello, junto a cada formulario de recabo de datos
            de carácter personal, en los servicios que el USUARIO pueda solicitar a LA SOCIEDAD, hará saber al USUARIO de la existencia y aceptación de las
            condiciones particulares del tratamiento de sus datos en cada caso, informándole de la responsabilidad del fichero creado, la dirección del responsable,
            la posibilidad de ejercer sus derechos de acceso, rectificación, cancelación u oposición, la finalidad del tratamiento y las comunicaciones de datos a
            terceros en su caso. Asimismo, LA SOCIEDAD informa que da cumplimiento a la Ley 34/2002 de 11 de julio, de Servicios de la Sociedad de la Información y
            el Comercio Electrónico y le solicitará su consentimiento al tratamiento de su correo electrónico con fines comerciales en cada momento.</li>
    </ol>

    <h3>Política de Privacidad</h3>
    <ol>
        <li>DATOS IDENTIFICATIVOS. En cumplimiento con el deber de información recogido en artículo 10 de la Ley 34/2002, de 11 de julio,
            de Servicios de la Sociedad de la Información y del Comercio Electrónico, a continuación se reflejan los siguientes datos:
            GRUPO GALLEGA LABORAL DEZA SL con CIF B94056561, domiciliada C/ CARBALLEIRA DO CHOUSIÑO N° 8 BAJO SILLEDA (PONTEVEDRA). (En adelante LA SOCIEDAD) </li>
    </ol>
</div>