<div class="container">
    <div class="col-md-12">
        <h3>Iniciar Sesión</h3>
        <form ng-submit="login()" id="loginForm" role="form" name="loginForm">
            <div>
                <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="text" ng-model="email" class="form-control" id="email" required>
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña *</label>
                    <input type="password" ng-model="pass" class="form-control" id="pass" required>
                </div>
                <div>
                    <button type="submit" class="btn btn-default submit">
                        Iniciar Sesión
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>