<!--offers-->
<div class="container-fluid">
    <div class="table-responsive">

        <!--No offers message-->
        <h5 ng-if="offers.length < 1">
            <br>
            <br>
            NO HAY OFERTAS EN LA BASE DE DATOS
        </h5>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Referencia</th>
                <th>Zona</th>
                <th>Req. Mínimos</th>
                <th>Req. Deseados</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th>Activa</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{ success: offer.active, danger: !offer.active}" ng-repeat="offer in offers track by $index">
                <td>{{offer.name}}</td>
                <td>{{offer.ref}}</td>
                <td>{{offer.zone}}</td>
                <td>{{offer.minReq}}</td>
                <td>{{offer.req}}</td>
                <td>{{offer.description}}</td>
                <td>{{offer.date}}</td>
                <td ng-if="offer.active == true">Sí</td>
                <td ng-if="offer.active == false">No</td>
                <td><span class="glyphicon glyphicon-remove" ng-click="deleteOffer(offer.ref)"></span>
                    <span class="glyphicon glyphicon-edit" ng-click="editOffer(offer)" data-toggle="modal" data-target="#editOfferModal"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="editOfferModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Oferta</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameOffer">Nombre</label>
                    <input type="text" ng-model="nameOffer" class="form-control" id="nameOffer" name="nameOffer"
                           required>
                </div>
                <div class="form-group">
                    <label for="refOffer">Referencia</label>
                    <input type="text" ng-model="refOffer" class="form-control" id="refOffer"
                           disabled>
                </div>
                <div class="form-group">
                    <label for="zoneOffer">Zona</label>
                    <input type="text" ng-model="zoneOffer" class="form-control" id="zoneOffer"
                           required>
                </div>
                <div class="form-group">
                    <label for="reqMinOffer">Requisitos Mínimos</label>
                    <textarea class="form-control" ng-model="reqMinOffer" id="reqMinOffer" required></textarea>
                </div>
                <div class="form-group">
                    <label for="reqDesOffer">Requisitos Deseados</label>
                    <textarea class="form-control" ng-model="reqDesOffer" id="reqDesOffer" required></textarea>
                </div>
                <div class="form-group">
                    <label for="descriptionOffer">Descripción</label>
                    <textarea class="form-control" ng-model="descriptionOffer" id="descriptionOffer" required></textarea>
                </div>
                <div class="form-group">
                    <label for="dateOffer">Fecha</label>
                    <input type="text" ng-model="dateOffer" class="form-control" id="dateOffer"
                           disabled>
                </div>
                <div class="form-group">
                    <label>Activa</label>
                    <input type="radio" ng-model="test" value=true ng-checked=activeOffer> Sí<br>
                    <input type="radio" ng-model="test" value=false ng-checked=!activeOffer> No<br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success submit" ng-click="modifyOffer()">
                    Modificar
                </button>
            </div>
        </div>

    </div>
</div>