<!--offers-->
<div class="container-fluid">
    <div class="table-responsive">

        <!--No offers message-->
        <h5 ng-if="courses.length < 1">
            <br>
            <br>
            NO HAY CURSOS EN LA BASE DE DATOS
        </h5>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Nombre
                <th>Ref</th>
                <th>Zona</th>
                <th>Descripción</th>
                <th>Horario</th>
                <th>Dirección</th>
                <th>Imagen</th>
                <th>F. Inicio</th>
                <th>F. Fin</th>
                <th>Activa</th>
                <th>Acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{ success: course.active, danger: !course.active}" ng-repeat="course in courses track by $index">
                <td>{{course.name}}</td>
                <td>{{course.ref}}</td>
                <td>{{course.zone}}</td>
                <td>{{course.description}}</td>
                <td>{{course.time}}</td>
                <td>{{course.direction}}</td>
                <td><img style="display:block;" width="200px" height="200px" src="data:{{course.contentType}};base64, {{course.image}}"></td>
                <td>{{course.dateIni}}</td>
                <td>{{course.dateFin}}</td>
                <td ng-if="course.active == true">Sí</td>
                <td ng-if="course.active == false">No</td>
                <td><span class="glyphicon glyphicon-remove" ng-click="deleteCourse(course.ref)"></span>
                    <span class="glyphicon glyphicon-edit" ng-click="editCourse(course)" data-toggle="modal" data-target="#editCourseModal"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div id="editCourseModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modificar Curso</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nameCourse">Nombre *</label>
                    <input type="text" ng-model="nameCourse" class="form-control" id="nameCourse" name="nameCourse"
                           required>
                </div>
                <div class="form-group">
                    <label for="zoneCourse">Zona</label>
                    <input type="text" ng-model="zoneCourse" class="form-control" id="zoneCourse"
                           required>
                </div>
                <div class="form-group">
                    <label for="descriptionCourse">Descripción *</label>
                    <textarea class="form-control" ng-model="descriptionCourse" id="descriptionCourse" required></textarea>
                </div>
                <div class="form-group">
                    <label for="dateCourse">Horario</label>
                    <input type="text" ng-model="dateCourse" class="form-control" id="dateCourse">
                </div>
                <div class="form-group">
                    <label for="directionCourse">Dirección</label>
                    <input type="text" ng-model="directionCourse" class="form-control" id="directionCourse">
                </div>
                <div class="form-group">
                    <label>F. Inicio</label>
                    <input type="date" ng-model="fechaIniCourse" class="form-control">
                </div>
                <div class="form-group">
                    <label>F. Fin</label>
                    <input type="date" ng-model="fechaFinCourse" class="form-control">
                </div>
                <div class="form-group">
                    <label>Activa</label>
                    <input type="radio" ng-model="test" value=true ng-checked=activeCourse> Sí<br>
                    <input type="radio" ng-model="test" value=false ng-checked=!activeCourse> No<br>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="button" class="btn btn-success submit" ng-click="modifyCourse()">
                    Modificar
                </button>
            </div>
        </div>

    </div>
</div>