<!--Navbar-->
<div class="navbar-fixed class" ng-controller="indexCtrl" >

    <nav class="orange class" role="navigation">

        <div class="nav-wrapper container"><a href="#" class="brand-logo"><img src="img/logo.png" style="width:300px;height:100px;"></a>

            <ul class="right hide-on-med-and-down">
                <li><a href="" > Trabajo </a></li>
                <li><a href="" > Formación </a></li>
                <li><a href="#/contact"> Contacto </a></li>
            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a href="" > Trabajo </a></li>
                <li><a href=""> Formación </a></li>
                <li><a href="/contact"> Contacto </a></li>
            </ul>

            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>


</div>
