 <nav class="navbar navbar-default navbar-fixed-top" ng-controller="indexCtrl">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" >
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#"><img class="logo" src="img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/work')}"><a href="#/work">Trabajo</a></li>
                    <li ng-class="{ active: isActive('/training')}"><a href="#/training"> Formación </a></li>
                    <li ng-class="{ active: isActive('/contact')}"><a href="#/contact"> Contacto </a></li>
                </ul>
            </div>
        </div>
 </nav>
