<div class="container-fluid">
    <h3 align="center">Política de Privacidad</h3>
    <div style="margin-left:50px; margin-right:50px;">
        <p>El Reglamento <strong>(UE) 2016/679 de protección de datos de carácter personal</strong>, establece un nuevo
            enfoque para el control y el tratamiento de los datos de carácter personal. Hemos revisado y adaptado
            nuestra
            política de privacidad a
            los nuevos requisitos y queremos ofrecer mayor información y transparencia en relación con el tratamiento de
            los
            datos personales.<strong> GRUPO GALLEGA LABORAL DEZA S.L con CIF B94056561 es responsable del
                tratamiento</strong> de los datos
            de carácter personal de sus usuarios y clientes, así como de los datos que puedan ser recabados a través del
            sitio web. GRUPO GALLEGA LABORAL DEZA S.L informa a los usuarios del sitio web sobre su política
            respecto del tratamiento y protección de los datos de carácter personal de los usuarios y clientes que
            puedan ser recabados por la navegación o contratación de servicios a través de su sitio web.</p>

        <strong>Finalidad del tratamiento de los datos.</strong>
        <p>Sus datos de carácter personal se recaban con la finalidad de <i>prestar y mantener los servicios acordados
            contractualmente así como poder informarle sobre los nuevos productos y servicios</i>.
            El tratamiento de los datos que nos facilite a través de los formularios de la web
            <strong>www.pontempleo.com</strong> se regirá por esta misma política de
            privacidad.
            Las operaciones, gestiones y procedimientos técnicos que se realicen de forma automatizada o no automatizada
            y
            que posibiliten la recogida, el almacenamiento, la modificación, la transferencia y otras acciones sobre
            datos
            de carácter personal, tienen la consideración de tratamiento de datos personales. GRUPO GALLEGA LABORAL DEZA
            S.L
            procederá a tratar los datos de carácter personal de manera lícita, leal, transparente, adecuada,
            pertinente,
            limitada, exacta y actualizada.</p>

        <strong>Datos recabados para la prestación de un servicio</strong>
        <p>Los datos de carácter personal que nos facilite para la prestación de un servicio serán los mínimos exigibles
            para
            poder elaborar el contrato así como para poder ofrecerle los servicios que usted contrate y para el
            cumplimiento
            de las
            obligaciones legales. Los datos serán conservados durante los plazos legalmente establecidos.</p>

        <strong>Datos recabados para la solicitud de información a través del formulario web.</strong>
        <p>Los datos personales recabados a través del formulario web para la petición de información tienen como
            finalidad
            el
            envío de información comercial sobre nuestros productos y servicios.
            El tratamiento de los datos en este caso está legitimado por el consentimiento expreso que usted nos presta
            al
            aceptar el envío de la información aportada a través del formulario.</p>

        <strong>Ejercicio de los derechos</strong>
        <p>De acuerdo con los derechos que confiere el Reglamento (UE) 2016/679 de protección de datos de carácter
            personal
            podrá ejercer los
            derechos de acceso, rectificación, limitación de tratamiento, supresión, portabilidad y oposición al
            tratamiento
            de
            sus datos
            dirigiendo su petición a la dirección postal indicada o al correo electrónico <strong>organizacion@pontempleo.com</strong>.
            Para el ejercicio de los derechos deberá identificarse mediante la presentación de su DNI.</p>

        <strong>Destinatarios</strong>
        <p>GRUPO GALLEGA LABORAL DEZA S.L informa a los usuarios de que sus datos personales no serán
                   comunicados a terceros, con la salvedad de que dicha comunicación de datos este amparada en una
                   obligación
                   legal
                   o cuando la prestación de un servicio implique la necesidad de una relación contractual con un
                   encargado de
                   tratamiento. En este último caso, los destinatarios de sus datos pueden ser
            <i>empresas del grupo, empresas
                de
                solvencia patrimonial (en el caso de impagos, comunicados mediante los procedimientos y garantías
                establecidos por la normativa vigente) así como determinados encargados del tratamiento necesarios para
                la
                correcta prestación de los servicios)</i>.
            GRUPO GALLEGA LABORAL DEZA S.L mantiene unos criterios estrictos de selección de encargados
            de
            tratamiento y se compromete contractualmente con cada uno a cumplir y hacer cumplir las obligaciones
            establecidas en materia de protección de datos.
        </p>

        <strong>Variación de los datos</strong>
        <p>Mientras no nos comuniquen lo contrario, entenderemos que los datos no han sido modificados y que usted se
            compromete a notificarnos cualquier variación.

            Para cualquier reclamación puede dirigirse a <strong>GRUPO GALLEGA LABORAL DEZA S.L (C/ Carballeira do
                Chousiño, nº8, Silleda, Pontevedra)</strong>. Igualmente podrá dirigirse a la <a href="http://www.agdp.es"
                                                                                               target="_blank">Agencia
                Española de Protección de Datos</a>.</p>
    </div>
</div>