<div class="content">

    <!--offers-->
    <div class="row">

        <!--No offers message-->
        <h5 class="center grey-text text-lighten-2" ng-if="courses.length < 1">
            <br>
            <br>
            NO COURSES IN THE DB
        </h5>

        <!--Offer card-->
        <div class="col s12 l6" ng-repeat="course in courses track by $index">
            <div class="card col">
                <h5 class="card-title activator grey-text text-darken-4">{{course.name}}</h5>

                <div class="col s6">
                    <img src={{course.img}} style="width:100%;height:100%;object-fit: contain">
                </div>

                <div class="col s6 card-content grey-text text-darken-2">

                    <!--Offer data-->
                    <div>
                        <p><b> Zona: </b> {{course.zone}}</p>
                        <p><b> Descripción: </b> {{course.description}}</p>
                        <p ng-if="course.dateIni.length > 1"><b> Fecha Inicio: </b> {{course.dateIni}}</p>
                        <p ng-if="course.dateFin.length > 1"><b> Fecha Fin: </b> {{course.dateFin}}</p>
                        <p ng-if="course.date.length > 1"><b> Horario: </b> {{course.date}}</p>
                        <p ng-if="course.direction.length > 1"><b> Dirección: </b> {{course.direction}}</p>
                        <a class="waves-effect waves-blue btn" ng-click="getContent(offer.name)">Solicitar</a>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>