<div class="container-fluid">
    <nav class="navbar">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" data-target="#presencial">Presencial</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">Teleformación
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a data-toggle="tab" data-target="#generales">Generales</a></li>
                    <li><a data-toggle="tab" data-target="#profesionales">Competencias profesionales</a></li>
                    <li><a data-toggle="tab" data-target="#acceso">Zona Privada</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="tab-content">
        <div id="presencial" class="tab-pane fade in active">

            <!--No offers message-->
            <h5 ng-if="courses.length < 1">
                <br>
                <br>
                TODAVÍA NO TENEMOS CURSOS EN NUESTRA BASE DE DATOS
            </h5>

            <!--Offer card-->
            <div class="panel panelC panel-default col-md-6" ng-repeat="course in courses track by $index">
                <h3 class="panel-heading centeralign">{{course.name}}</h3>

                <div class="panel-body">
                    <div class="col-md-6">
                        <img src="data:{{course.contentType}};base64, {{course.image}}" style="width:100%;height:300px;object-fit: contain">
                    </div>

                    <div class="col-md-6">

                        <!--Offer data-->
                        <div>
                            <p ng-if="course.zone.length > 1"><b> Zona: </b> {{course.zone}}</p>
                            <p ng-if="course.description.length > 1"><b> Descripción: </b> {{course.description}}</p>
                            <p ng-if="course.dateIni.length > 1"><b> Fecha Inicio: </b> {{course.dateIni}}</p>
                            <p ng-if="course.dateFin.length > 1"><b> Fecha Fin: </b> {{course.dateFin}}</p>
                            <p ng-if="course.time.length > 1"><b> Horario: </b> {{course.time}}</p>
                            <p ng-if="course.direction.length > 1"><b> Dirección: </b> {{course.direction}}</p>
                        </div>

                        <div class="text-center">
                            <a ng-click="setCourse(course.name)" class="btn btn-primary" data-toggle="modal" data-target="#modalCourse">Solicitar</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div id="generales" class="tab-pane fade">
            <iframe src="http://www.plataformateleformacion.com/lcursos/cursos_elearning.php"
                    width="100%" height="670px" frameborder="0" style="border:0"></iframe>
        </div>

        <div id="profesionales" class="tab-pane fade">
            <iframe src="http://www.plataformateleformacion.com/lcursos/cursos_certificados.php"
                    width="100%" height="670px" frameborder="0" style="border:0"></iframe>
        </div>

        <div id="acceso" class="tab-pane fade">
            <div class="row centered">
                <div class="col-sm-3">
                    <h4>Acceso Teleformación</h4>
                    <form action="http://www.plataformateleformacion.com/acceso.php" method="post">
                        <div>
                            <div class="form-group">
                                <label for="Login">Login *</label>
                                <input type="text" name="Login" class="form-control" id="Login" required>
                            </div>
                            <div class="form-group">
                                <label for="Pass">Password *</label>
                                <input type="password" name="Pass" class="form-control" id="Pass" required>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-default submit">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

    </div>
</div>

<!-- Modal -->
<div id="modalCourse" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title" ng-bind-html="divHtmlVar"></h4>
            </div>
            <div class="modal-body">
                Solicita información sobre la fecha de este curso poniéndote en
                contacto con nosotros en <strong>cursos@pontempleo.com o en el 986 58 12 80</strong>.
            </div>
        </div>

    </div>
</div>