<!--offers-->
<div class="container-fluid">
    <div class="panel-group equal">

        <!--No offers message-->
        <h5 ng-if="offers.length < 1">
            <br>
            <br>
            TODAVÍA NO TENEMOS OFERTAS EN NUESTRA BASE DE DATOS
        </h5>

        <!--Offer card-->
        <div class="panel panelT panel-default col-md-6" ng-repeat="offer in offers track by $index">
            <h3 class="panel-heading centeralign">{{offer.name}}</h3>

            <div class="panel-body">

                <!--Offer data-->
                <div>
                    <p class="card-text"><b> Referencia: </b> {{offer.ref}}</p>
                    <p class="card-text"><b> Zona: </b> {{offer.zone}}</p>
                    <p class="card-text"><b> Requisitos Mínimos: </b> {{offer.minReq}}</p>
                    <p class="card-text"><b> Requisitos Deseados: </b> {{offer.req}}</p>
                    <p class="card-text"><b> Descripción: </b> {{offer.description}}</p>
                    <p class="card-text"><b> Fecha: </b> {{offer.date}}</p>
                </div>

                <div class="text-center">
                    <a ng-click="setInscription(offer.name, offer.ref)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Inscribirse</a>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="title" ng-bind-html="divHtmlVar"></h4>
            </div>
            <div class="modal-body">
                <form ng-submit="submitOffer()" id="myOfferForm" role="form" name="myOfferForm">
                    <div>
                        <div class="form-group">
                            <label for="nameForm">Nombre *</label>
                            <input type="text" ng-model="nameForm" class="form-control" id="nameForm" placeholder=""
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="email">Correo electrónico *</label>
                            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" ng-model="email"
                                   class="form-control" id="email" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Nº de teléfono *</label>
                            <input type="text" pattern="[6789][0-9]{8}" ng-model="phone" class="form-control" id="phone"
                                   placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="cv">CV (.pdf)</label>
                            <input type="file" accept="application/pdf" ng-model="cv" class="form-control" id="cv" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="message">Mensaje</label>
                            <textarea class="form-control" ng-model="message" id="message" placeholder="Escribe su mensaje"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="privacidad" value="false" required> He leído y acepto la <a href="#/privacidad" target="_blank">política de privacidad</a> *
                        </div>
                        <p>* Campos obligatorios</p>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger" ng-click="resetOffer()">
                            Reset
                        </button>
                        <button type="submit" class="btn btn-default submit">
                            Enviar
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>