<!--offers-->
<div class="container-fluid">
    <div class="card-group equal">

        <!--No offers message-->
        <h5 ng-if="offers.length < 1">
            <br>
            <br>
            NO OFFERS IN THE DB
        </h5>

        <!--Offer card-->
        <div class="card col-md-6" ng-repeat="offer in offers track by $index">
            <h3 class="card-header">{{offer.name}}</h3>

            <div class="card-block">

                <!--Offer data-->
                <div>
                    <p class="card-text"><b> Referencia: </b> {{offer.ref}}</p>
                    <p class="card-text"><b> Zona: </b> {{offer.zone}}</p>
                    <p class="card-text"><b> Requisitos Mínimos: </b> {{offer.minReq}}</p>
                    <p class="card-text"><b> Requisitos Deseados: </b> {{offer.req}}</p>
                    <p class="card-text"><b> Descripción: </b> {{offer.description}}</p>
                    <p class="card-text"><b> Fecha: </b> {{offer.date}}</p>
                </div>

                <div class="card-footer center">
                    <a ng-click="setInscription(offer.ref)" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Inscribirse</a>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>