nav {
    z-index: 999;
    height: 100px;
    line-height: 100px;
}

.main {
    margin-top: 120px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    margin: 0 auto -30px;
    padding: 0 0 30px 0px;   /* new padding */
}

.navbar-brand {
  min-height: 100px;
}

.nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.panel {
    overflow: auto;
}

.equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

div {
    text-align: justify;
    text-justify: inter-word;
}

footer {
  background-color: #FFA500;
}

/* navbar */
.navbar-default {
    background-color: #FFA500;
    border-color: #FFA500;
}
/* Title */
.navbar-default .navbar-brand {
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5ffe6d1;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #ffe6d1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffe6d1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffe6d1;
    background-color: #d35400;
}

/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}

/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-default .navbar-collapse {
    background-color: black;
    border-color: #FFA500;
     }
 }

.nomargin {
    margin:0px;
    padding:0px;
    list-style-type: none;
}

#description {
    resize: none;
}

td {
    text-align:center;
    vertical-align:middle;
}

#index {
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-height: 400px;
    width: 100%;
    background-image: url("../img/fervenza.jpg");

    display: flex;
    align-items: center;
    justify-content: center;
}

.index1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button1 {
    font-size : 20px;
}